/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: #303030;
  color: #eee;
  font-size: 16px;
  font-family: Lato, sans-serif;
}

main {
  width: 304px;
  margin: 50px auto;
  /*margin-left: auto;
  margin-right: auto;*/
  position: relative;
  font-size: 32px;
  text-align: center;
}

.buttonGroup {
  display: flex;
}

.buttons {
  width: 50%;
  height: 150px;
  border: 10px solid #262626;
}

#green {
  background-color: green;
  border-left: 20px solid #262626;
  border-top: 20px solid #262626;
  border-top-left-radius: 100%;
}

#red {
  background-color: red;
  border-right: 20px solid #262626;
  border-top: 20px solid #262626;
  border-top-right-radius: 100%;
}

#yellow {
  background-color: yellow;
  border-left: 20px solid #262626;
  border-bottom: 20px solid #262626;
  border-bottom-left-radius: 100%;
}

#blue {
  background-color: blue;
  border-right: 20px solid #262626;
  border-bottom: 20px solid #262626;
  border-bottom-right-radius: 100%;
}

#controls {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  background-color: #303030;
}

#controlButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

#controls h2 {
  font-size: 1em;
}

#controls h2 span {
  font-size: .4em;
  vertical-align: top;
}

@media only screen and (min-width: 760px) {
  main {
    width: 604px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  }

  .buttons {
    height: 272px;
  }

  #controls {
    left: 50%;
    margin-left: -175px;
    top: 50%;
    margin-top: -175px;
    width: 350px;
    height: 350px;
  }

  #controls h2 {
    font-size: 1.5em;
  }

  #controlButtons {
    margin: 40px 0;
  }
  
}