/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: #303030;
  color: #eee;
  font-size: 16px;
  font-family: Lato, sans-serif;
}

main {
  width: 354px;
  margin: 50px auto;
  position: relative;
  font-size: 16px;
  text-align: center;
}

.buttonGroup {
  display: flex;
}

.buttons {
  width: 50%;
  height: 147px;
  border: 10px solid #262626;
}

#green {
  background-color: green;
  border-left: 20px solid #262626;
  border-top: 20px solid #262626;
  border-top-left-radius: 100%;
}

#red {
  background-color: red;
  border-right: 20px solid #262626;
  border-top: 20px solid #262626;
  border-top-right-radius: 100%;
}

#yellow {
  background-color: yellow;
  border-left: 20px solid #262626;
  border-bottom: 20px solid #262626;
  border-bottom-left-radius: 100%;
}

#blue {
  background-color: blue;
  border-right: 20px solid #262626;
  border-bottom: 20px solid #262626;
  border-bottom-right-radius: 100%;
}

#controls {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  background-color: #303030;
}

#controlButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
}

/* toggle code from http://callmenick.com/post/css-toggle-switch-examples */

.toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 30px;
}
input.toggle-round + label:before,
input.toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 30px;
  transition: background 0.4s;
}
input.toggle-round + label:after {
  width: 32px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.toggle-round:checked + label:after {
  margin-left: 30px;
}

label {
  font-size: .7em;
}

#controls h2, #controls p {
  font-size: 2em;
}

#controls h2 {
  font-family: Oswald, sans-serif;
}

#controls h2 span {
  font-size: .4em;
  vertical-align: top;
}

@media only screen and (min-width: 760px) {
  main {
    width: 604px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  }

  .buttons {
    height: 272px;
  }

  #controls {
    left: 50%;
    margin-left: -175px;
    top: 50%;
    margin-top: -175px;
    width: 350px;
    height: 350px;
  }

  input.toggle-round + label {
    padding: 2px;
    width: 80px;
    height: 40px;
    background-color: #dddddd;
    border-radius: 40px;
  }
  input.toggle-round + label:before,
  input.toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }
  input.toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 40px;
    transition: background 0.4s;
  }
  input.toggle-round + label:after {
    width: 42px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
  }
  input.toggle-round:checked + label:before {
    background-color: #8ce196;
  }
  input.toggle-round:checked + label:after {
    margin-left: 40px;
  }

label {
  font-size: 1em;
}

  #controls h2, #controls p {
    font-size: 3em;
  }

  #controlButtons {
    margin: 40px 0;
  }
  
}